services:
  dev:
    build: .
    image: numpynn:v1
    # We do not want to recreate the container or have multiple instances of it running ever
    container_name: numpynn
    volumes:
      # Mount SSH Keys as readonly
      - ~/.ssh:/root/.ssh-localhost:ro
      # Mount gitconfig
      - ~/.gitconfig:/root/.gitconfig:ro
      # Mount working folder
      - ../:/home/workspace
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    # The following commands ensure that the container stays active
    entrypoint: bash
    stdin_open: true
    tty: true
